labels: {}

image:
  repository: ghcr.io/slok/sloth
  tag: v0.10.0

sloth:
  resyncInterval: ""    # The controller resync interval duration (e.g 15m).
  workers: 0            # The number of concurrent controller workers (e.g 5).
  labelSelector: ""     # Sloth will handle only the ones that match the selector.
  namespace: ""         # The namespace where sloth will the CRs to process.
  extraLabels: {}       # Labels that will be added to all the generated SLO Rules.
  defaultSloPeriod: ""  # The slo period used by sloth (e.g. 30d).
  optimizedRules: true  # Reduce prom load for calculating period window burnrates.
  debug:
    enabled: false

commonPlugins:
  enabled: true
  image:
    repository: k8s.gcr.io/git-sync/git-sync
    tag: v3.3.4
  gitRepo:
    url: https://github.com/slok/sloth-common-sli-plugins
    branch: main

metrics:
  enabled: true
  prometheusLabels: {}

customSloConfig:
  enabled: false
  path: /windows
  data: {}
#    apiVersion: sloth.slok.dev/v1
#    kind: AlertWindows
#    spec:
#    ... See https://sloth.dev/usage/slo-period-windows/
