:root {
    /* Resize PicoCSS, make it more compact */
    --pico-form-element-spacing-vertical: 0.35rem;
    --pico-form-element-spacing-horizontal: 0.75rem;
    --pico-font-size: 1rem;
}

.stats article header{
    text-align: center;
}

.stats article div {
    margin-bottom: calc(var(--pico-spacing) * .25);
    font-size: 1.75rem;
    line-height: 1.15;
    text-align: center;
    font-weight: bold;
}


/* Light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --sloth-neutral: var(--pico-primary);
    --sloth-ok: rgb(58, 135, 19);
    --sloth-warning: rgb(253, 147, 3);
    --sloth-critical: rgb(197, 47, 33);
}

/* Dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --sloth-neutral: var(--pico-primary);
        --sloth-ok: rgb(58, 135, 19);
        --sloth-warning: rgb(253, 147, 3);
        --sloth-critical: rgb(197, 47, 33);
    }
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --sloth-neutral: var(--pico-primary);
    --sloth-ok: rgb(58, 135, 19);
    --sloth-warning: rgb(253, 147, 3);
    --sloth-critical: rgb(197, 47, 33);
}

.is-ok {
    color: var(--sloth-ok);
}

.is-warning {
    color: var(--sloth-warning);
}

.is-critical {
    color: var(--sloth-critical);
}

