:root {
    /* Resize PicoCSS, make it more compact */
    --pico-form-element-spacing-vertical: 0.35rem;
    --pico-form-element-spacing-horizontal: 0.75rem;
    --pico-font-size: 1rem;
}

.stats article header{
    text-align: center;
}

.stats article div {
    margin-bottom: calc(var(--pico-spacing) * .25);
    font-size: 1.75rem;
    line-height: 1.15;
    text-align: center;
    font-weight: bold;
}


/* Light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --sloth-neutral: var(--pico-primary);
    --sloth-ok: rgb(58, 135, 19);
    --sloth-warning: rgb(253, 147, 3);
    --sloth-critical: rgb(197, 47, 33);
    --pico-mark-background-color: rgb(223, 227, 235);
}

/* Dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --sloth-neutral: var(--pico-primary);
        --sloth-ok: rgb(58, 135, 19);
        --sloth-warning: rgb(253, 147, 3);
        --sloth-critical: rgb(197, 47, 33);
    }
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --sloth-neutral: var(--pico-primary);
    --sloth-ok: rgb(58, 135, 19);
    --sloth-warning: rgb(253, 147, 3);
    --sloth-critical: rgb(197, 47, 33);
}

.is-ok {
    color: var(--sloth-ok);
}

.is-warning {
    color: var(--sloth-warning);
}

.is-critical {
    color: var(--sloth-critical);
}


svg.lucide {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.15em;
}

header svg.lucide {
    width: 1em;
    height: 1em;
}

td span svg.lucide {
    width: 1.3em;
    height: 1.3em;
}

span[data-tooltip] {
    border-bottom: none !important;
}

mark {
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

