{{define "app_service_comp_slo_list"}}

<div id="slo-list">

{{ if not .Data.SLOs }}
    <p>No slos found.</p>
{{ else }}
    <table>
    <thead>
        <tr>
        <th scope="col">SLO</th>
        <th scope="col">Burning budget</th>
        <th scope="col">Remaining budget (Window)</th>
        <th scope="col">Alerts</th>
        </tr>
    </thead>
    <tbody>
        {{range .Data.SLOs}}
        <tr>
        <td><a href="{{.DetailsURL}}">{{.Name}}</td>
        <td class="{{.BurningBudgetPercent | percentUpColorCSSClass}}">{{.BurningBudgetPercent | prettyPercent}}</td>
        <td class="{{.RemainingBudgetWindowPercent | percentDownColorCSSClass}}">{{.RemainingBudgetWindowPercent | prettyPercent}}</td>
        <td>
        {{ if .CriticalAlertName }}
        <div class="is-critical">Critical</div>
        {{ else if .WarningAlertName }}
        <div class="is-warning">Warning</div>
        {{ else }}
        <div>-</div>
        {{ end }}
        </td>
        </tr>
        {{end}}
    </tbody>

         <tfoot>
        <tr>
            <td colspan="6">
                <div class="pagination grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <button class="secondary" {{ if not .Data.SLOPagination.HasPrevious }} disabled {{ end }}
                       hx-get="{{ .Data.SLOPagination.PrevURL }}"
                       hx-target="#slo-list"
                       hx-swap="innerHTML show:window:top">
                    << Previous
                    </button>
                    <button class="secondary" {{ if not .Data.SLOPagination.HasNext }} disabled {{ end }}
                       hx-get="{{ .Data.SLOPagination.NextURL }}"
                       hx-target="#slo-list"
                       hx-swap="innerHTML show:window:top">
                    Next >>
                    </button>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </td>
        </tr>
    </tfoot>
    </table>
{{ end }}
</div>
{{ end }}