{{define "app_slo_comp_slo_data"}}
<div id="slo-data">
    {{template "app_slo_comp_stats" .}}
    {{template "app_slo_comp_sli_chart" .}}
    {{template "app_slo_comp_budget_chart" .}}
</div>
{{end}}