{{define "shared_footer"}}
<footer class="container">
    <hr>

    <nav>
    <ul>
        <li>Code licensed under <a href=https://github.com/slok/sloth/blob/main/LICENSE>Apache 2.0</a>.</li>
        <li>Running Sloth <small><mark>{{.Common.SlothVersion}}</mark></small></li>
    </ul>
    <ul>
        <li><a href="https://sloth.dev/"> Docs</a></li>
        <li><a href="https://github.com/slok/sloth"> Source code</a></li>
    </ul>
    </nav>
</footer>

<script src="https://unpkg.com/lucide@latest"></script>
<script>lucide.createIcons();</script>
{{end}}