{{define "shared_nav"}}
<div class="container">
<nav>
  <ul>
    <li>{{slothLogoSVG "#017FC0" 25}}</li>
    <li><a style="color: #017FC0; font-size: 1.5rem;font-weight: bold;" href="/">
      Sloth
    </a></li>
  </ul>
  <ul>
    <li><a href="{{.Common.ServicesURL}}">Services</a></li>
    <li><a href="{{.Common.SLOsURL}}">SLOs</a></li>
  </ul>
</nav>
</div>
{{end}}